.representative-landing-page {

  .representative-content {
    a {
      color: #007bff;
    }

    img {
      max-width: 100%;
    }
  }

  a.is-current {
    background: rgba(0, 0, 0, 0.05);
  }
}

.representatives-list-wrap{
  .representatives-intro{
    padding: 1.5625rem 2.5rem;
    margin: 0.625rem 0 1.25rem;
    border: 1px solid #D8D8D8;
    background: rgba(255,255,255,0.60);
    font-size: 1rem;
    color: #8D8D8D;
    img{
      // width: 53px;
      height: 70px;
      padding-right: 2.5rem;
      margin-right: 2.5rem;
      border-right: 1px solid rgba(151,151,151,0.30);
    }
    @media only screen and (max-width: 768px) {
      padding: 1rem;
      font-size: 0.875rem;
      img{
        padding-right: 1rem;
        margin-right: 1rem;
      }
    }
  }
  .representatives-data-wrap{
    .representatives-data{
      margin: 0 0 0 1.5625rem;
      span{
        color: #333333;
        font-family: PingFangSC-Medium;
      }
      h2{
        flex: .9;
        margin-bottom: 0;
        margin-right: .5rem;
        font-size: 1rem;
      }
      >div{
        flex: 1;
      }
      .num{
        margin-bottom: 0.3125rem;
        font-size: 1.5rem;
      }
      .desc{
        max-width: 10.375rem;
        margin-right: 0.3125rem;
        font-size: .875rem;
        .txt{
          margin-right: 0.3125rem;
          white-space: nowrap;
          >span{
            color: #999999;
          }
        }
        .dropdown-menu{
          a{
            color: #C23631;
            span{
              color: #C23631;
            }
          }
        }
      }
      @media only screen and (max-width: 768px) {
        margin: 0;
      }
    }
  }
  .represent-filter-wrap{
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    font-family: PingFangSC-Regular;
    color: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-bottom: 0;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 5.125rem;
      padding: 0.4375rem 0.8125rem;
      border-radius: 2px;
      font-size: .875rem;
      background: #69C265;
      color: #fff;
      &:hover{
        color: #fff!important;
      }
    }
    .left{
      a{
        min-width: 8.5625rem;
        margin-right: .625rem;
        font-size: 1rem;
        background: #CBCBCB;
        &.active,&:hover{
          background: #D0021B;
          transition: background-color 0.5s ease;
        }
      }
    }
  }
  table{
    tbody{
      tr{
        td:first-child:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 2px;
          background: $main-red;
        }
        &:nth-child(4n+2){
          td:first-child:before{
            background: #E0AE5C;
          }
        }
        &:nth-child(4n+3){
          td:first-child:before{
            background: #69C265;
          }
        }
        &:nth-child(4n){
          td:first-child:before{
            background: #4A90E2;
          }
        }
      }
    }
  }
}
