$iconSize: 60px;

.wallet-wizard {

  .ReactPasswordStrength {
    input {
      display: block;
      margin-right: 100px;
    }
    .ReactPasswordStrength-strength-desc {
      width: 100px;
    }
  }

  .first-progress {
    transform: translateX(-50%) !important;

    .progress-bar {
      width: 100% !important;
    }
  }
  .step {

    &.completed {
      .progress-bar {
        width: 100%;
      }

      .step-icon {
        //border: 5px solid #EEE;
        background: #dc3545;
        color: #FFF;
        padding-top: 2px;
        position: relative;

        i {
          position: absolute;
        }

        svg {
          position: absolute;
          left: 10px;
          top: 10px;
        }
      }

      .icon-waiting {
        visibility: hidden;
      }

      .icon-complete {
        visibility: visible;
      }
    }

    position: relative;

    .progress {
      position: absolute;
      height: 10px;
      width: 100%;
      top: 25px;
      transform: translateX(50%);
    }

    .progress-bar {
      width: 0%;
    }
  }

  .wizard-steps {
    margin-top: -45px;
    overflow: hidden;
  }

  .step-icon {
    z-index: 100;
    text-align: center;
    background: #FFF;
    line-height: 48px;
    font-size: 30px;
    border-radius: $iconSize;
    width: $iconSize;
    height: $iconSize;
    border: 5px solid #EEE;

    .icon-complete {
      visibility: hidden;
    }
  }
}


.account-selector {

  $arrowSize: 30px;

  .nav {
    padding-top: 20px;
    z-index: 100;

  }

  .nav-item {

    display: block;
    position: relative;

    a {
      padding: 15px 10px 15px 0;
      text-align: right;
    }

    border-bottom: 2px solid #f1f1f1;
    border-top: 2px solid #f1f1f1;

    &.active {
      background-color: #FFF;
      border-bottom: 2px solid #EEE;
      border-top: 2px solid #EEE;

      &:after {
        left: 100%;
        top: 50%;
        z-index: 100;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #fff;
        border-width: $arrowSize;
        margin-top: -$arrowSize;
      }
    }
  }

  .icon {
    height: 25px;
    padding-left: 10px;
  }

  .nav {
    border-right: 2px solid #EEE;
  }

  .account-page {
    background-color: #f1f1f1;
  }

}
