.top-data {
  .gutter-row {
    margin-top: 22px;
  }
  .data-items {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 0.5px;
    width: 100%;
    h2 {
      background: #f3f3f3;
      border-radius: 0.5px;
      height: 45px;
      line-height: 45px;
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #3c3c3c;
      position: relative;
      padding-left: 20px;
      .data-real-time {
        position: absolute;
        top: 0;
        right: 20px;
        font-family: PingFangSC-Regular;
        font-size: 10px;
        color: #ffffff;
        background: url("../images/data/realTime.svg");
        text-align: center;
        display: block;
        min-width: 28px;
        background-size: 100% 100%;
        height: 25px;
        line-height: 25px;
      }
    }
  }
  .ant-table .ant-table-thead > tr > th,
  .ant-table .ant-table-tbody > tr > td {
    padding: 13px;
    &:first-child {
      padding-left: 20px !important;
    }
    &:last-child {
      padding-right: 20px !important;
    }
  }

  .addressWidth {
    width: 220px;
    display: block;
    text-align: center;
  }

  .ant-table-thead {
    tr {
      td {
        font-family: PingFangSC-Medium;
        font-size: 12px;
        color: #333333;
      }
    }
  }

  .ant-table-tbody {
    .ant-table-row.ant-table-row-level-0 {
      td {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #333333;
      }
      .usd-amount {
        font-size: 10px;
        color: #999999;
      }
      .rank-0 {
        background: url("../images/data/rank-1.png");
      }
      .rank-1 {
        background: url("../images/data/rank-2.png");
      }
      .rank-2 {
        background: url("../images/data/rank-3.png");
      }
      .rank {
        width: 14.6px;
        height: 18px;
        display: inline-block;
        background-size: 100%;
      }
    }
  }
  // account module
  .data-account {
    .ant-table-row.ant-table-row-level-0 {
      &:last-child {
        td {
          background: #f3f3f3 !important;
          font-family: PingFangSC-Medium;
          font-size: 12px;
          color: #333333;
        }
      }
      td {
        height: 64px;
      }
    }
  }

  // token module
  .data-token {
    .data-token-name {
      a {
        font-family: PingFangSC-Regular;
        font-size: 12px !important;
        color: #c64844;
      }
    }
    .data-token-logo {
      width: 16px;
    }
  }

  // contract module
  .data-contract {
    .ant-table-row.ant-table-row-level-0 {
      &:last-child {
        td {
          background: #f3f3f3 !important;
          font-family: PingFangSC-Medium;
          font-size: 12px;
          color: #333333;
        }
      }
      td {
        height: 64px;
      }
    }
    .addressWidth {
      width: 180px;
    }
  }
}
.time-filter {
  > ul {
    display: flex;
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    li {
      width: 75px;
      padding: 5px 0;
      cursor: pointer;
      border: 1px solid #eee;
      border-left: 0;
      font-size: 12px;
      text-align: center;
      &:first-child {
        border-left: 1px solid #eee;
      }
      &.active {
        color: #c23631;
        border: 1px solid #c23631;
      }
      &:hover {
        color: #c23631;
      }
    }
  }
}
