.exchange{
  $red: #E60815;
  $green: #69C265;
  .col-red{
    color: $red;
  }
  .col-green{
    color: $green;
  }
  hr{
    margin: 0.4rem 0;
  }
  h5{
    margin-bottom: 0;
  }

  // exchange list
  &-list{
    background: #fff;
      height: 100%;

    h6{
      font-weight: bold;
      color: #333;
      font-size: 16px;
    }

    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }

    // ant table
    .ant-table{
      *{
        font-size: 12px;
      }
      tr{
        background-color: #F3F3F3;
        &:hover{
          & > td{
            background-color: rgba(194, 54, 49, 0.1)
          }
        }
        td, th{
          border-color: #fff;
          padding: 4px 8px!important;
        }
      }
    }
    &-mark{
      background: #fff;
    }
    &-explain{
      &__content{
        background: #F3F3F3;
      }
    }
  }

  // kline
  &__kline{
    background: #fff;

    &__pic{
      height: 370px;
     width: 100%;
    }
    
  }

  // __transaction

  &__transaction{

    &__item{
      background: #fff;
      flex: 1;
    }
  }

  // tranlist
  &__tranlist{
    font-size: 13px;
    border: 1px solid #EEEEEE;
    .ant-table{
      td, th{
        padding: 4px 8px!important;
        border: none;
      }
      th{
        font-weight: normal;
        color: #666;
      }
      &-thead{
        th{
          background: #fff;
        }
      }
      &-tbody{
        tr{
          &:nth-of-type(odd){
            background: #F3F3F3;
          }
          &:hover{
            td{
              background-color: rgba(194, 54, 49, 0.1)
            }
           
          }
        }
      }
    }
    
  }

  // __transactionlist
  &__transactionlist{
    background: #fff;

    .buy{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: -4px;
        left: -9px;
        bottom: 0;
        height: 30px;
        width: 2px;
        background: #69C265;
      }
    }
    .sell{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: -4px;
        left: -9px;
        bottom: 0;
        height: 30px;
        width: 2px;
        background: #E60815;
      }
    }
  }
  
  .ant-tabs{
    &-ink-bar{
      background-color: #C23631;
    }
  }
  .ant-tabs-bar{
    border: none;
  }
  .ant-tabs-tab{
    color: #C23631;
    &:hover{
      color: #C23631;
    }
  }
  .ant-tabs-nav .ant-tabs-tab-active{
    color: #C23631;
  }

  // from
  .ant-form{
    &-item{
      // margin-bottom: 14px;

      &-label{
        padding: 0;
      }
    }
  }
  .has-error .ant-form-explain, .has-error .ant-form-split{
    // font-size: 12px;
  }

  .ant-btn{
    width: 100%;
    &-lg{
      height: 36px;
    }
  }

  .ant-input{
    &-lg{
      height: 36px;
    }
  }
  .ant-input-group-addon{
    border-radius: 2px;
  }

  .success{
    background: #69C265;
    color: #fff;
    border-color: #69C265;
    border-radius: 2px;
  }
  .warning{
    background: #F5A623;
    color: #fff;
    border-color: #F5A623;
    border-radius: 2px;
  }

  .ant-input{
    border-radius: 2px;
  }

  .ant-pagination.ant-table-pagination.ant-pagination{
    margin-right: 0;
  }

  button[disabled],button[disabled]:hover{
    background-color: #d1d3df;
    color: #fff;
    border-color: #d1d3df;

  }

  .text-sm{
    font-size: 12px;
    color: #999;
  }
  
}
